section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 0 2rem;
  margin-top: 4rem;
}

section .container .text-about-me img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

section .container .text-about-me h1 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 3rem;
  color: #fff;
}

section .container .text-about-me p {
  font-size: 1.3rem;
  color: #a1a1aa;
  width: 70ch;
  line-height: 2rem;
}

section .container .text-about-me .about-me-icon-social {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

section .container .text-about-me .about-me-icon-social svg {
  width: 2.25rem;
  height: 2.25rem;
}

section .container .stack {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(12, 12, 14, .53);
  padding: 5rem;
  width: 70ch;
}

section .container .stack .main-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section .container .stack .main-stack span {
  font-weight: 200;
  color: #dfdfdf;
  font-size: 14px;
}

section .container .stack .main-stack p {
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  width: 20ch;
}

section .container .stack .tech-images {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

section .container .stack .tech-images img {
  width: 4rem;
  height: 4rem;
}