.experience {
  padding: 3rem 8rem 0 8rem;
}

.experience .container-experience .experience-introduce {
  margin-bottom: 3rem;
}

.experience .container-experience .experience-introduce h3 {
  font-size: 2.5rem;
  color: #fff;
}

.experience .container-experience .experience-introduce p {
  margin-top: 1rem;
  font-size: 1.25rem;
  color: #a1a1aa;
  margin-bottom: 1.75rem;
  width: 70ch;
}

.experience .container-experience .experience-content {
  display: grid;
  grid-template-columns: 150px 1fr;
}

.experience .container-experience .experience-content {
  border-left: 1px solid rgba(63, 63, 70, .4);
  padding-left: 2rem;
}

.experience .container-experience .experience-content .experience-journey p {
  font-size: 1.25rem;
  color: #fff;
  font-weight: 600;
}

.experience .container-experience .experience-content .experience-content-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.experience .container-experience .experience-content .experience-content-info .experience-info h3 {
  font-size: 1.25rem;
  font-weight: 300;
  color: #a1a1aa;
}

.experience .container-experience .experience-content .experience-content-info .experience-info .job {
  font-size: 1.75rem;
  color: #fff;
}

.experience .container-experience .experience-content .experience-content-info .experience-info .time-experience {
  color: #929296;
  margin-bottom: 0.5rem;
}

.experience .container-experience .experience-content .experience-content-info .experience-info ul li {
  color: #a1a1aa;
  width: 100ch;
  font-size: 1.15rem;
  list-style: initial;
  line-height: 2rem;
  margin-left: 1.25rem;
}