.container-header {
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 8rem 0 8rem;
}

.container-header .logo {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.container-header h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}

.container-header img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.container-header h3::after {
  content: ".dev";
  font-weight: 700;
  background: linear-gradient(to right, rgb(40, 142, 128), rgb(45 212 191/1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

.container-header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-header nav ul li {
  color: #fff;
  align-items: center;
  justify-content: center;
  padding: 8px 8px;
  font-size: 1.5rem;
  font-weight: 400;
  transition: 0.3s all;
}

.container-header nav ul li:hover {
  color: rgb(45 212 191/1);
}