.trailer-container-video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1b1b1b;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s;
}

.active-video.trailer-container-video {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s;
}

.trailer-container-video video {
  position: relative;
  max-width: 1000px;
  outline: none;
}

.close-icon-video {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

@media(max-width: 1050px) {
  .trailer-container-video video {
    max-width: 100%;
    padding: 0 3rem;
  }
}